body, h1, h2, h3, p, a, ul, li, ol {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: #608d61;
    padding: 10px;
    text-align:center;
    color: #fff;
    font-size: 26px;
    flex-wrap: nowrap;
}
ul {
    margin-top: 0px;
}
header li{
    display: inline;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 20px;
    background-color: rgba(77, 196, 113, 0.74);
    margin-left: 5px;
    padding: 5px 10px;
}
li:hover{
    opacity: 0.5;
}
a{
    color: black;
    font-size: 18px;
}
main{
text-align: left;
padding-top: 20px;
padding-left: 10px;
padding-right: 10px;
background-color: rgb(24, 23, 23);
flex-wrap: nowrap;
background-image: linear-gradient(black, gray, rgb(215, 215, 235));
background-size: cover;    
}
main p{
font-size: 18px;
font-weight: 600;
color: #f0f0f0;
align-items: center;
}
main h2{
    color: #da9595;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    columns: 1px;
    border: 5px yellowgreen;
    padding: 15px;
    padding-bottom: 0;
    border-style: groove;
    margin-left: 2px;
}

.column {
    flex-basis: calc(33.33% - 20px);
    padding: 3px;
    background-color: #8e58cc;
    margin-bottom: 20px;
    display: grid;
    border: 1px solid blue;
    border-radius: 5px;
}
.column:hover{
    opacity: 0.7;
}
.container img{
    display: inline-block;
    border: 2px solid black;
    width: 20%;
    float: right;
    margin-top: 0px;
    border-radius: 10px;
}
header button{
    float: right;
    margin-top:0px;
    margin-right: 20px;
    background-color: aqua;
    border-radius: 50%;
}
header p{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgba(199, 252, 9, 0.384);
    color: black;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 10px;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color:#3B5998;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    justify-content: left;
}
button:hover{
    opacity: 0.3;
}
.sell
{
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}
.sell img{
display: inline;
padding: 20px;
background-color: #4CAF50;
border: 1px solid black;
border-radius: 30%;
width: 25%;
height: 20%;
margin: 30px;
}
.sell img:hover{
    opacity: 0.7;
}
.cc{
    border:1px solid fuchsia;
    padding: 5px;
    background-color: gray;
    font-size: 15px;
    font-weight: 600;
    background-image: url(../landingpage/images/bi.jpg), linear-gradient(to left,blue,black);
    background-size: cover;
}
.cc p{
    font-size: 20px;
    font-weight: 500;
    color:#fff;
}
.cc h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
}
div li{
    display: inline-flex;
    justify-content: center;
    border: 1px solid sienna;
padding: 2px;
border-radius: 10px;
background-color: sandybrown;
}
.contact p{
    text-align: center;
    justify-content: center;
    color: #fff;
}
footer{
    background-color: #333;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }  
  .copy{
    text-align: center;
  }
  .sell1{
    border:1px solid fuchsia;
    padding: 5px;
    background-color: goldenrod;
    font-size: 15px;
    font-weight: 600;
    background-image: url(../landingpage/images/w.jpg);
    background-size: cover;
    background-position: bottom;
}
.sell1 p{
    font-size: 20px;
    font-weight: 500;
    color:#fff;
}
.sell1 h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a0a0a;
}
.ds{
    border:1px solid fuchsia;
    padding: 5px;
    background-color: goldenrod;
    font-size: 15px;
    font-weight: 600;
    background-image: url(../landingpage/images/ds.jpg);
    background-size: cover;
}
.ds p{
    font-size: 20px;
    font-weight: 500;
    color:#0e0d0d;
}
.ds h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 13, 13);
}
.column p{
    color: #fff;
}
.column h3{
    font-weight: 800;
}